
.container_mobile {
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
  z-index: 1;
  background-color: transparent;
}

.section {
  width: 100vw;
  height: 100vh;
  background-color: beige;

  display: flex;
  align-items: center;
  justify-content: center;
}

.section2 {
  width: 100vw;
  height: 100vh;
  background-color: rgb(150, 150, 24);
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  .box {
    position: absolute;
    width: 200px;
    height: 100px;
    background-color: palegoldenrod;
    border-radius: 9px;
  }
}

.section3 {
  width: 100vw;
  height: 100vh;
  background-color: rgb(8, 156, 94);

  display: flex;
  align-items: center;
  justify-content: center;

  .box {
    position: absolute;
    left: -200px;
    width: 200px;
    height: 100px;
    background-color: palegoldenrod;
    border-radius: 9px;
  }
  .box2 {
    position: absolute;
    right: -200px;
    width: 200px;
    height: 100px;
    background-color: palegoldenrod;
    border-radius: 9px;
  }
}

.section4 {
  width: 100vw;
  height: 100vh;
  background-color: rgb(144, 32, 209);
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;

  .span{
    font-size: 100px;
    position: absolute;
    top: 100px;
    left: -200px;
    overflow: hidden;
    width: 100000px;
  }

  .span2{
    font-size: 100px;
    position: absolute;
    bottom: 100px;
    left: -500px;
    overflow: hidden;
    width: 100000px;
  }

}




.section5 {
  width: 100vw;
  height: 100vh;
  background-color: rgb(20, 2, 31);

  display: flex;
  align-items: center;
  justify-content: center;

}
